.loader {
	position: fixed;
	left: 50%; top: 50vh; top: 50svh;
	transform: translate(-50%,-68%);
	color: var(--white);

	height: 1.75rem;

	@include _992 {
		left: 50%; top: 50vh;
		transform: translate(-50%,-110%);
	}

	padding: 0.65rem 1.25rem 0.5rem;

	border: 0.0625rem solid transparent;
	border-radius: 2.5rem;

	display: flex;
	align-items: center;

	font-family: var(--title-font);
	line-height: 100%;
	font-size: 0.75rem;
	text-transform: uppercase;

	&::before {
		content: '';
		position: absolute;
		left: 50%; top: 0;
		transform: translate(calc(-50% - 1rem),0);
		width: calc(100% + 2rem); height: 100%;
		border: 0.0625rem solid transparent;
		//background: red;
		border-radius: 3.125rem;
		background: linear-gradient(var(--background-1,270deg), transparent 50%, var(--white) 60%) border-box;
		clip-path: polygon(calc(50% + 1rem) 0, 100% 0, 100% 100%, calc(50% + 1rem) 100%);
		-webkit-mask:
			linear-gradient(#fff 0 0) padding-box, 
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		//z-index: 2;
	}

	&::after {
		content: '';
		position: absolute;
		left: 50%; top: 0;
		transform: translate(calc(-50% + 1rem),0);
		width: calc(100% + 2rem); height: 100%;
		border: 0.0625rem solid transparent;
		border-radius: 3.125rem;
		//background: linear-gradient(var(--background-2, 275deg), transparent 40%, var(--white) 50%) border-box;
		//background: linear-gradient(var(--background-2, 90deg), transparent 30%, red 40%) border-box;
		background: linear-gradient(var(--background-2, 90deg), transparent 50%, var(--white) 60%) border-box;
		clip-path: polygon(50% 0, 50% 100%, 0 100%, 0 0);
		opacity: var(--opacity,0);
		//opacity: 1;
		-webkit-mask:
			linear-gradient(#fff 0 0) padding-box, 
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		//transition: opacity .3s ease;
	}
}
