.hero {

	min-height: calc(var(--svh,1vh) * 235);
	min-height: 235svh;

	@include _992 {
		min-height: calc(var(--svh,1vh) * 100);
		min-height: 100svh;
	}

	perspective: 400px;
	/* display: flex;
	flex-direction: column;
	justify-content: center; */

	&__decor {
		position: absolute;
		inset: 0;

		z-index: 2;

		width: 100%;
		height: calc(var(--svh,1vh) * 100);
		height: 100svh;

		perspective: 400px;
	}

	// .hero__decor_element

	&__decor_element {
		position: absolute;

		&:nth-child(1) {
			right: 0; top: -3vw;
			width: min(32vh, 68vw); height: auto; max-width: 21.875rem;
			transform: translate3d(var(--x),var(--y),0) scale3d(var(--scale,1), var(--scale,1), 1);
			transform-origin: right bottom;

			@media (max-width: 992px) and (min-height: 625px) {
				width: min(38vh, 68vw);
				top: 0;
			}

			@include _992 {
				width: 31rem; max-width: none;
				top: 3%;
				right: 20.25vw;

				transform: translate3d(var(--x),var(--y),0) scale3d(var(--scale,1), var(--scale,1), 1);
			}

			img {
				width: 100%; height: auto;
			}
		}

		&:nth-child(2) {
			left: 0; bottom: 0;
			width: min(30vh, 65vw); height: auto; max-width: 25rem;
			transform: translate3d(calc(var(--x) - var(--load-padding,0px)),var(--y),0) scale3d(var(--scale,1), var(--scale,1), 0.5);
			transform-origin: 55% top;

			-webkit-mask: linear-gradient(180deg, #000 70%, transparent 100%);

			@media (max-width: 992px) and (min-height: 625px) {
				width: min(40vh, 70vw);
			}

			@include _992 {
				width: 49.3125rem; max-width: none;
				top: calc(var(--svh,1vh) * 40.5); top: 40.5svh;
				bottom: auto;
				left: 17.5vw;
			}

			img {
				width: 100%; height: auto;
			}
		}
	}

	// .hero__loader

	&__loader {
	}

	&__body {
		min-height: calc(var(--svh,1vh) * 100);
		min-height: 100svh;
		padding-bottom: 0rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	// .hero__title

	&__title {

		padding-bottom: 1.5rem;
		padding-right: var(--load-padding,0px);
		
		color: var(--white);

		.line {

			padding-right: 0.5rem;
			white-space: nowrap;
			display: flex !important;

			&:nth-child(odd) {
				text-align: end !important;
				justify-content: flex-end;
				transform: translate3d(var(--x-2),0,0);
				//transform: translate3d(50%,0,0);
			}

			&:nth-child(1) {
				transform: translate3d(var(--x-1),0,0);
				padding-top: 0.25rem;
			}

			&:nth-child(2) {
				transform: translate3d(var(--x-2),0,0);
			}

			&:nth-child(3) {
				transform: translate3d(var(--x-3),0,0);
				padding-right: 0.8125rem; padding-bottom: 0.75rem;
			}
		}
	}

	&__mob_title {
		color: #F5F8FF;
		text-align: center;
		opacity: 0;

		margin-top: 3.15rem;

		svg {
			margin-left: 0.3ch;
		}
	}

	// .hero__text

	&__text {
		@include _992 {
			position: absolute;
			right: calc(var(--container-padding) + 0.625rem); top: calc(var(--svh,1vh) * 50); top: 50svh;
			transform: translate3d(var(--x,0),-80%,0);

			width: 10rem;
			margin: 0; max-width: none;
			text-align: end;

			font-size: 1rem;
			font-weight: 450;
			line-height: 143.75%;
			letter-spacing: -0.04em;

			padding-top: 0; padding-right: 0;
			opacity: 1;
		}

		padding-top: 1.5rem; padding-right: 0.3125rem;

		font-family: var(--main-font);	
		color: var(--white);
		font-size: 0.9375rem;
		line-height: 143.75%;
		letter-spacing: -0.04em;
		font-weight: 450;
		text-align: center;

		max-width: 14rem; margin: 0 auto;

		opacity: 0;

		/* -webkit-text-stroke-width: 0.015rem;
		-webkit-text-stroke-color: var(--primary); */
	}
}
